$imgsize: 3.5rem;
.homepageContent{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: white;
	margin-top: 0.2rem;
}

.homepageItem{
	width: $imgsize;
	height: $imgsize;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */	
	padding: 0.2rem;
	font-size: 0.5rem;
	font-weight: bolder;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		background-color: gray;
		filter:blur(2px);
	}
}
.itemtitle{
	position: absolute;
	top: 1.5rem;
	text-align: center;
	width: 90%;
	color: white;
}
