.openPagehead{
	height: 2rem;
	color: white;
	text-align: center;
	padding-top: 1.2rem;
	font-weight: bolder;
}
@keyframes lishow {
	0%{
		top:-0.2rem;
	}
	100%{
		top: 0rem;
	}
}

@keyframes feetRotate {
	0%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(-15deg);	
	}
	50%{
		transform: rotate(0);	
	}
	75%{
		transform: rotate(15deg);	
	}	
	100%{
		transform: rotate(0);	
	}	
}
.info{
	text-align: center;
	.infoItem{
		margin-top: 0.1rem;
		background-color: white;
		padding: 1rem 0 ;
		.title{
			margin-top: 0.2rem;
			font-size: 0.4rem;
		}
	}
	a:visited{
		color: black;
	}
}
.copyright{
	text-align: center;
	color: gray;
	font-size: 0.3rem;
	margin: 0.5rem 0;
}